# Configuration file

currency {
    S:currencyName=Credits
    S:currencySymbol=$
    I:startingBalance=100
}

economy {
    D:defaultSellRatio=0.6
    D:playerStallTaxPercent=0.0
    I:maxStallsPerPlayer=5
    B:allowCreativePurchases=false
}

prices {
    S:entries <
     >
}

schematics {
    S:folder=config/marketblocks/schematics
    I:maxVolume=32768
    I:slotRadius=6
    I:defaultPrice=100
}

schematic_prices {
    S:entries <
        TestHut.schematic=50
     >
}
